/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/* MAIN */

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, 'Inter-Variable', sans-serif);
  font-weight: var(--main-weight, 400);
  font-size: var(--main-font-size, 18px);
  line-height: 100%;
  color: var(--text-color, #000);
  background-color: var(--bg-color, #fff);
  background-image: var(--bg-gradient,
  repeating-linear-gradient(
      to right,
      #d3d3d3 0px 2px,
      transparent 2px 4px),
    repeating-linear-gradient(
        to bottom, 
        #d3d3d3 0px 2px, 
        transparent 2px 4px),
    linear-gradient(
        #e7e7e7 0.01%,
         #1a1a1a 100%));
  background-size: cover;
  background-attachment: fixed;
}

.main {
  display: grid;
  gap: 50px;
  margin-inline: auto;
  padding-block-end: 100px;
  inline-size: clamp(375px, 50%, 700px);
}

/* HEADER */

.header {
  margin-inline: auto;
  padding-block: 100px;
  inline-size: clamp(375px, 50%, 700px);
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  border: var(--border, 2px solid #000);
  padding-block: 130px 130px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--bg-color, #fff);
}

.header__title {
  display: block;
  font-family: var(--accent-font, 'PressStart2P', fantasy);
  font-weight: var(--main-weight, 400);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 1;
}

.header__subtitle {
  display: block;
  margin-block-start: 20px;
  font-family: var(--accent-font, 'PressStart2P', fantasy);
  font-weight: var(--main-weight, 400);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

/* CARDS */

.cards {
  display: grid;
  gap: 50px;
}

.card {
  border: var(--border, 2px solid #000);
  font-weight: var(--main-weight, 400);
  font-size: var(--main-font-size, 18px);
  background-color: var(--bg-color, #000);
}

.card__title {
  padding: 5px 10px;
  font-weight: var(--accent-weight, 700);
  font-size: var(--main-font-size, 18px);
  line-height: 1.1;
  font-variation-settings: "wght" var(--accent-weight, 700);
}

.card__image-wrapper {
  position: relative;
  border-block: solid 2px currentColor;
}

.card__image {
  display: block;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
  aspect-ratio: 1;
}

.filter-bright {
  filter: brightness(120%) saturate(140%);
}

.filter-grayscale {
  filter: grayscale(100%);
}

.filter-sepia {
  filter: sepia(70%);
}

.filter-contrast {
  filter: contrast(90%) hue-rotate(20deg);
}

.filter-saturate {
  filter: saturate(200%);
}

.filter-invert {
  filter: invert(30%);
}

.filter-blur {
  filter: grayscale(70%) blur(2px) brightness(80%);
}

.filter-shadow {
  filter: drop-shadow(5px 5px 10px #000);
}

.card__label {
  position: absolute;
  opacity: 0.5;
  font-family: var(--accent-font, 'PressStart2P', fantasy);
  font-size: var(--label-font-size, 14px);
  line-height: 1;
  text-shadow: 
  0 1px 0 var(--label-color, #fff),
  1px 0 0 var(--label-color, #fff),
  -1px 0 0 var(--label-color, #fff),
  0 -1px 0 var(--label-color, #fff);
  inset-block-start: 25px;
  inset-inline-end: 25px;
  mix-blend-mode: hard-light;
}

@supports (text-stroke: 1px var(--label-color, #fff)) or 
(-webkit-text-stroke: 1px var(--label-color, #fff)) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--label-color, #fff);
    text-stroke: 1px var(--label-color, #fff);
  }
}

.card__content {
  display: grid;
  gap: 25px;
  padding-inline: 25px;
  padding-block: 25px;
}

.card__text {
  display: grid;
  gap: 25px;
  line-height: 21px;
}

.card__buttons {
  display: flex;
  justify-content: end;
  gap: 7px;
}

/* BUTTONS */

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px transparent;
  padding: 0;
  background-color: transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.card__icon-button:hover .core {
  fill: var(--heart-fill, #000);
  transition: fill 0.3 ease;
}

.card__icon-button:hover .main-body {
  fill: var(--heart-fill, #000);
  transition: fill 0.3s ease 0.5s;
}

.card__icon-button:active .core {
  fill: var(--heart-body, #ff0000);
  transition: fill 0.3s ease;
}

.card__icon-button:active .main-body {
  fill: var(--heart-body, #ff0000);
  transition: fill 0.3s ease 0.05s;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: var(--border, 2px solid #000);
}

.like-icon {
  flex-shrink: 0;
  transform-origin: center;
  block-size: 36px;
  inline-size: 39px;
}

.like-icon.is-liked .contour {
  fill: var(--heart-body, #ff0000);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .core {
  fill: var(--heart-body, #ff0000);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-body, #ff0000);
  transition: fill 0.3s linear 0.05s
}

.like-icon.is-liked .sparks {
  animation: like-icon-sparks-fade-in 0.3s 0.3s ease-in;
}

.like-icon.is-liked {
  animation: like-icon-scale 0.3s 0.1s ease-in;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  transition: fill 0.3s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.sparks {
  opacity: 0;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: var(--border, 2px solid #000);
  border-radius: 0;
  padding: 9px 20px;
  color: var(--text-color, #000);
  font-family: var(--accent-font, 'PressStart2P', fantasy);
  font-size: var(--label-font-size, 14px);
  line-height: 1;
  background-color: var(--button-color, #fff);
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  min-block-size: 38px;
  min-inline-size: 38px;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000;
  transition: scale 0.5s ease-in-out;
  transform-origin: left center;
  scale: 0 1;
}

.button:hover::before {
  scale: 1;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 #000;
}

.card__like-button {
  min-inline-size: 130px;
}

.button__save {
  flex-direction: column;
  justify-self: center;
  padding: 15px 18px;
}

.button__save-icon {
  width: 28px;
  height: 28px;
  color: var(--button-color, #fff);
  mix-blend-mode: difference;
}

.button__text {
  color: var(--bg-color, #fff);
  mix-blend-mode: difference;
}

/* DIALOG */

.floppy-dialog {
  position: fixed;
  border: solid 2px currentColor;
  max-inline-size: clamp(341px, 50%, 353px);
}

.floppy-dialog[open] {
  display: grid;
  gap: 30px;
  padding: 40px 40px;
}

.floppy-dialog::backdrop {
background-color: rgb(0 0 0 / 0.75);
}

.floppy-dialog-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.floppy-dialog-icon {
  flex-shrink: 0;
  width: 39px;
  height: 39px;
}

.floppy-dialog-text {
  font-family: var(--accent-font, 'PressStart2P', fantasy);
  font-size: var(--label-font-size, 14px);
  font-weight: var(--main-weight, 400);
  line-height: 1.5;
  text-transform: uppercase;
}

.floppy-dialog-button {
  text-transform: uppercase;
}


/* @MEDIA */

@media (width >= 1440px) {
  .header {
    padding-block-start: 100px;
    padding-block-end: 98px;
  }

  .header__content {
    padding-block: 130px 130px;
  }

  .button__save {
    flex-direction: row;
  }

  .button__save-icon {
    inline-size: 21px;
    block-size: 21px;
  }

  .floppy-dialog[open] {
    padding: 30px 30px;
  }
}